@import url('https://fonts.googleapis.com/css2?&family=Golos+Text&display=swap');

body{
    font-family: "Golos Text";
}
header, footer{
    background-color: rgb(8, 99, 184);
    max-width: auto;
    color: white;
    text-align: center;
    grid-column: 1 / 2;
    padding: 5px;
    font-size: 1.5rem;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
section{
    display: block;
}

section h3 {
    background-color: black;
    color: white;
    padding: 5px;
}

section a{
    padding: 5px;
}
img {
    padding-top: 50 px;
}


@media only screen and (min-width: 37.5em){
    main{
        grid-template-columns: 1fr 1fr;
    }

    main section:nth-child(2){
        display: block;
    }

    main section:nth-child(3){
        grid-column: span 2;
    }

}


@media only screen and (min-width: 60em){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
