@import url('https://fonts.googleapis.com/css2?family=Alata&family=Golos+Text&display=swap');

body{
    display: block;
    align-items: center;
    padding: 10px;
    width: 600px;
    margin: 0 auto;

}

header{
    display: block;
}
.logo{
    padding: 10px;
}
:root{
    font-family: 'Golos', Arial, Helvetica, sans-serif;
    --myLabelColor: #444;
    --myfontfamily: 'Alata','Golos',Helvetica;
    --myBorderRadius: .2rem;
}

#heroimg {
    width: 100%;
    height: auto;
    max-width: 100%;
   
}

nav{
    margin: 0 auto;
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    color: white;
    background-color:#064198;
    max-width: 800px;
}

nav a{
    display: flex;
    text-align: center;
    color: white;
    text-decoration: none;
}
nav a:hover{
    border: 2px solid #064198;
}
.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    transition: max-height 0.3s ease-out;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 0.5rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation li a:hover {
	background-color: #ffff;
	color: #064198;
	font-weight: 700;
}

#menuButton{
    font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menuButton::before {
	content: "☰";
}

#menuButton.open::before {
	content: "✖️";
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
